<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogs</title>
</head>
<body>
<h1>Blogs</h1>

<form th:object="${searchblog}" method="post">
    <input type="text" placeholder="search by title" th:field="*{title}" name="title">
    <button type="submit" value = submit>search</button>

</form>


<ul th:each="blog: ${blogs}">

    <li  >
        <h2 th:text="${blog.title}"></h2>
        <p th:text="${blog.content}"></p>
        <h4 th:text="${blog.author}"></h4>
        <a th:href="@{'/deletepost/' + ${blog.id}}">Delete</a>
        <a th:href="@{'/editpost/' + ${blog.id}}">Edit</a>
    </li>

</ul>
</body>
</html>